#!/usr/bin/make -f
# -*- makefile -*-

PKGDIR=debian

%:
	dh $@

clean:
	dh_clean
	rm -rf $(PKGDIR)

build:
	./make.bash
	mkdir -p $(PKGDIR)/usr/bin
	mkdir -p $(PKGDIR)/usr/share/pat
	mkdir -p $(PKGDIR)/etc/systemd/system

	mv ./pat $(PKGDIR)/usr/bin/
	cp -r share/* $(PKGDIR)/usr/share/pat/
	cp debian/pat@.service $(PKGDIR)/lib/systemd/system/

binary-arch: clean build
	dh_prep
	dh_installdirs

	dh_installman
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch

