#!/usr/bin/make -f
# -*- makefile -*-

PKGDIR=debian/pat

%:
	dh $@

build:
	./make.bash

binary-arch: build
	dh_prep
	dh_installdirs
	dh_installman
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch

